﻿@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Miinto Premium</title>
    <link href="/Content/CssTask.css" rel="stylesheet">
</head>
<body>
    <div class="title_box">
         <span class="title_box_title">Miinto premium</span>
    </div>
    <div class="full-row">
        <div class="image-col">
            <img alt="women" src="~/Content/img/Image_1.jpg" />
            <div class="img_container">
                <ul>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Outerwear</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Shoes</a></li>
                </ul>
            </div>
        </div>

        <div class="image-col">
            <img class="img_shadow" alt="men" src="~/Content/img/Image_2.jpg" />
            <div class="img_container">
                <ul>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">Suits & Blazers</a></li>
                    <li><a href="#">Outwear</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Shoes</a></li>
                </ul>
            </div>
        </div>

        <div class="image-col">
            <img class="img_shadow" alt="kids" src="~/Content/img/Image_3.jpg" />
            <div class="img_container">
                <ul>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">Outwear</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Bottoms</a></li>
                    <li><a href="#">Shoes</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="full-row">
        <div class="content_title_box">
            <span class="content_title_box_title">Miinto premium</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur magna ipsum, placerat non nibh at, fringilla condimentum magna. Morbi sodales fermentum venenatis. Curabitur vitae hendrerit metus. Pellentesque sagittis justo magna, vestibulum convallis urna interdum eget. Nam eu tellus euismod, malesuada urna sit amet, dictum augue. Sed mattis dolor ac dui pellentesque consequat. Nulla facilisi.</p>
            <p>Aenean pharetra eget ex vel egestas. Nulla sollicitudin porta neque id dictum. Morbi dictum auctor ante, sit amet tempus dui blandit at. Suspendisse mattis dui sit amet nulla aliquet, ac ultrices sem sollicitudin. Aliquam dictum egestas velit at rhoncus. Sed felis sem, luctus eu ex non, luctus lacinia odio. Proin orci arcu, eleifend id enim eget, fermentum ultrices nisl. Donec interdum sem justo, quis fermentum enim consequat vitae. Nulla eu lacinia ligula. Vivamus dignissim vel felis ac efficitur. Nulla nec tempus diam. Vivamus id metus dolor. Aliquam viverra nisl placerat neque molestie tempus. Mauris sed quam pretium, lacinia sapien ut, porttitor lacus.</p>
        </div>
    </div>
    
</body>
</html>
