﻿@{
    ViewBag.Title = "Shop products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  MiintoTasks.Models.ShowProductsModel


@section Scripts {
    @Scripts.Render("~/Scripts/NetTask/Gallery.js")
}

<h1>@ViewBag.Title</h1>

<div id="galleryContainer">
    <div class="row filter-panel">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedBrand, "Brand")
                @Html.DropDownListFor(m => m.SelectedBrand, new SelectList(Model.AllBrands, "Code", "Name"), new { data_bind = "value: brand", @class= "form-control notRadious" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedCategory, "Category")
                @Html.DropDownListFor(m => m.SelectedCategory, new SelectList(Model.AllCategory, "Name", "Name"), new { data_bind = "value: category", @class= "form-control notRadious" })
            </div>
        </div>

        <div class="col-md-3 float-right">
            <div class="form-group">
                <label>Search</label>
                <div class="input-group">
                    <span class="input-group-btn notRadious">
                        <button class="btn btn-default notRadious" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <input type="text" class="form-control notRadious">
                </div>
            </div>
        </div>

    </div>
    <div class="row gallery-row" data-bind="foreach: products">
        <div class="gallery-item">
            <img data-bind="attr: { src: ThumbnailPath }" />
            <div class="description">
                <span data-bind="text: ProductTitle"></span>
                <span><br/> by <br/></span>
                <span data-bind="text: Brand"></span>
            </div>
            
        </div>
    </div>
</div>