﻿body {
    margin: 15px;
    margin-top: 45px;
    color: rgba(0,0,0,0.75);
    font-family: Brawler;
}


.title_box {
    border-top: 1px solid black;
    text-align: center;
    margin: 0 5px;
}

.title_box_title {
    text-transform: uppercase;
    position: relative;
    top: -0.6em;
    padding: 0 10px;
    background-color: white;
    color: black;
}


.content_title_box {
    border: 1px solid black;
    text-align: center;
    padding: 0 10px;
    margin: 25px 5px;
}

.content_title_box_title {
    text-transform: uppercase;
    position: relative;
    top: -0.6em;
    padding: 0 10px;
    background-color: white;
    font-size: 18px;
    color: black;
}

img{
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0 5px;
}

.img_container {
    box-shadow: 0px -43px 28px -3px rgba(0,0,0,0.36);
    background-color: black;
    text-align: center;
    padding: 20px 0px;
    position:relative;
    margin: 0 5px;
}

.img_container ul{
    margin: 0;
    padding: 0;
}
.img_container li {
    text-decoration-color: white;
    text-transform: uppercase;
    list-style-type: none;
    padding: 3px 0;
}

.img_container li a {
    color: white;
    text-decoration: underline;
    font-size: 12px;
}

/* For mobile devices */
.image-col, .full-row {
    width: 100%;
    padding: 10px 0;
}

 /* For desktop */
@media only screen and (min-width: 768px){

    .image-col {
        width: 33.3%;
        float: left;
    }

    .full-row {
        width: 100%;
        float: left;
    }
}

