﻿body{
    font-size: 13px;
    font-family: Calibri;
}

h1{
    margin: 40px 0;
}

.float-right{
    float: right;
}


.float-left{
    float: left;
}

.filter-panel{
    margin-right:30px;
    margin-bottom: 10px;
}

.gallery-row{
    width: 100%;
}

.gallery-item{
    margin: 15px 0;
    float: left;
    padding: 0 15px;
}

.description{
    text-align: center;
}

.gallery-row img{
    border: 1px solid rgba(0,0,0,0.25);
    max-width: 195px;
}

.notRadious{
    border-radius: 0;
}